@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body { 
    background : #222 ; 
    color : white ;
    font-family : Oswald ;
    text-align: center;
}

h1, h2, h3 { font-weight: 400 }
h2, h3 { margin : 0 }